<!DOCTYPE html>
<html class="example_html">

<head>
	<meta charset="utf-8">
	<title>勾选</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href='/fmui/fmui.css' rel='stylesheet' />
	<link href='/src/www/home.less' rel='stylesheet' />
</head>

<body style="padding: 5px 10px; ">
<section>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="fmui-tit">多选-选中状态</div>
			<div class="fmui-desc">这是多选</div>
		</div>
		<div class="fmui-checked fmui-linear-blue"></div>
	</div>

	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">多选-选中状态-禁用</div>
		<div class="fmui-checked  fmui-linear-blue fmui-disabled"></div>
	</div>

	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">多选-未选状态</div>
		<div class="fmui-checked fmui-checked-un"></div>
	</div>

	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">单选-选中状态</div>
		<div class="fmui-radio"></div>
	</div>

	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">单选-选中状态</div>
		<div class="fmui-radio-radius  fmui-radio-blue-after"></div>
	</div>
</section>
<script src="/src/www/jquery.min.js"></script>
<script src="/src/www/home.js"></script>
</body>

</html>