<!DOCTYPE html>
<html class="example_html">

<head>
	<meta charset="utf-8">
	<title>按钮</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href='/fmui/fmui.css' rel='stylesheet' />
	<link href='/src/www/home.less' rel='stylesheet' />
</head>
<body style="padding: 5px 10px; ">
<section>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">按钮-普通</div>
		<div class="fmui-btn fmui-btn-small fmui-btn-blue">打开</div>
	</div>

	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">按钮-反色</div>
		<div class="fmui-btn-inverse fmui-btn-inverse-small fmui-linear-blue">安装</div>
	</div>

	<div class="fmui-flex-row bdr_bottom">
		<div class="fmui-flex-col">
			<div class="fmui-btn-two example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-normal fmui-linear-gray">取消订单</div>
				<div class=" fmui-btn-inverse fmui-btn-inverse-normal fmui-linear-blue">提交订单</div>
			</div>
		</div>
	</div>

	<div class="fmui-flex-row bdr_bottom">
		<div class="fmui-flex-col">
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-blue">开始</div>
			</div>
		</div>
	</div>

</section>
<script src="/src/www/jquery.min.js"></script>
<script src="/src/www/home.js"></script>
</body>

</html>