<!DOCTYPE html>
<html class="example_html">

<head>
	<meta charset="utf-8">
	<title>星级评分</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href='/fmui/fmui.css' rel='stylesheet' />
	<link href='/src/www/home.less' rel='stylesheet' />
</head>

<body style="padding: 5px 10px; ">
<section>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">默认黄色</div>
		<div class="fmui-star ">
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span class="fmui-star-gray">★</span>
			<span class="fmui-star-text">8.3<span>
		</div>
	</div>
	<div class="fmui-flex-row fmui-aic fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col">默认黄色</div>
		<div class="fmui-star  fmui-star-large">
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span class="fmui-star-gray">★</span>
		</div>
	</div>
	<div class="fmui-flex-row fmui-aic fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col">自定义蓝色</div>
		<div class="fmui-star fmui-star-blue  fmui-star-large">
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span class="fmui-star-gray">★</span>
		</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">特殊情况</div>
		<div class="fmui-star-black">
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span class="fmui-star-gray">★</span>
			<span class="fmui-star-text">8.3<span>
		</div>
	</div>
	<div class="fmui-flex-row fmui-aic fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">特殊情况</div>
		<div class="fmui-star-black  fmui-star-large">
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span class="fmui-star-gray">★</span>
		</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom" style="background:#000;">
		<div class="fmui-flex-col ">特殊情况-黑底</div>
		<div class="fmui-star-white ">
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span class="fmui-star-gray">★</span>
			<span class="fmui-star-text">8.3<span>
		</div>
	</div>
	<div class="fmui-flex-row fmui-aic fmui-list-pd bdr_bottom" style="background:#000;">
		<div class="fmui-flex-col ">特殊情况-黑底</div>
		<div class="fmui-star-white  fmui-star-large">
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span>★</span>
			<span class="fmui-star-gray">★</span>
		</div>
	</div>
</section>
<script src="/src/www/jquery.min.js"></script>
<script src="/src/www/home.js"></script>
</body>

</html>