<!DOCTYPE html>
<html class="example_html">

<head>
	<meta charset="utf-8">
	<title>颜色</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href='/fmui/fmui.css' rel='stylesheet' />
	<link href='/src/www/home.less' rel='stylesheet' />
</head>

<body style="padding: 5px 10px; ">
<section>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col fmui-theme-blue">主题色-blue</div>
		<div class="fmui-flex-col fmui-theme-limegreen">主题色-limegreen</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col fmui-theme-seagreen">主题色-seagreen</div>
		<div class="fmui-flex-col fmui-theme-gray">主题色-gray</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col fmui-theme-crimson">主题色-crimson</div>
		<div class="fmui-flex-col fmui-theme-firebrick">主题色-firebrick</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col fmui-theme-tomato">主题色-tomato</div>
		<div class="fmui-flex-col fmui-theme-coral">主题色-coral</div>
	</div>
	<div class="fmui-flex-row bdr_bottom">
		<div class="fmui-flex-col">
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-blue">开始</div>
			</div>
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-limegreen">开始</div>
			</div>
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-seagreen">开始</div>
			</div>
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-gray">开始</div>
			</div>
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-crimson">开始</div>
			</div>
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-firebrick">开始</div>
			</div>
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-tomato">开始</div>
			</div>
			<div class="example-button">
				<div class="  fmui-btn-inverse fmui-btn-inverse-large fmui-linear-coral">开始</div>
			</div>
		</div>
	</div>
</section>
<script src="/src/www/jquery.min.js"></script>
<script src="/src/www/home.js"></script>
</body>

</html>