<!DOCTYPE html>
<html class="example_html">

<head>
	<meta charset="utf-8">
	<title>列表</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href='/fmui/fmui.css' rel='stylesheet' />
	<link href='/src/www/home.less' rel='stylesheet' />
</head>

<body style="padding: 5px 10px; ">
<section>
	<div class="fmui-flex-row fmui-list-lf fmui-list-rownum1 bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="fmui-tit">列表标题</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="fmui-tit">列表标题</div>
			<div class="fmui-desc">列表描述</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="fmui-tit">列表标题</div>
			<div class="fmui-desc fmui-text-line2">辅助信息</div>
			<div class="fmui-info">段落描述</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="fmui-tit">列表标题</div>
			<div class="fmui-desc fmui-text-line2">我和一个朋友现在在外面吃饭，你如果方便的话可以过来一起啊，我给你共享位置哦。</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-aic  fmui-list-rownum1 fmui-list-lf ">
		<img class="fmui-icon-faceimg" src="http://i3.res.meizu.com/fileserver/app_icon/6898/f866344ead17456b9d4461c6b2528588.png" width="40" height="40" />
		<div class="fmui-flex-col ">
			<div class="fmui-flex-row  bdr_bottom">
				<div class="fmui-tit ">列表标题</div>
			</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-list-lf ">
		<div class=" fmui-icon-top">
			<img class="fmui-icon-faceimg" src="http://i3.res.meizu.com/fileserver/app_icon/6898/f866344ead17456b9d4461c6b2528588.png" width="40" height="40" />
		</div>
		<div class="fmui-flex-col">
			<div class="fmui-flex-row fmui-list-tb bdr_bottom">
				<div class="fmui-flex-col ">
					<div class="fmui-tit ">列表标题</div>
					<div class="fmui-desc fmui-text-line2">辅助信息</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-list-lf ">
		<div class="fmui-icon-top">
			<img class="fmui-icon-faceimg" src="http://i3.res.meizu.com/fileserver/app_icon/6898/f866344ead17456b9d4461c6b2528588.png" width="40" height="40" />
		</div>
		<div class="fmui-flex-col ">
			<div class="fmui-flex-row fmui-list-tb bdr_bottom">
				<div class="fmui-flex-col ">
					<div class="fmui-tit ">列表标题</div>
					<div class="fmui-desc fmui-text-line2">辅助信息</div>
					<div class="fmui-info fmui-text-line2">段落描述</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">超链接</div>
		<a href="javascript:;" class="fmui-theme-blue">点击链接</a>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">进入下一级</div>
		<div class="fmui-icon"><i class="fmui-icon-next"></i></div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">展开列表</div>
		<div class="fmui-icon"><i class="fmui-icon-unfold"></i></div>
	</div>
	<div class="fmui-flex-row fmui-list-pd bdr_bottom">
		<div class="fmui-flex-col ">删除列表</div>
		<div class="fmui-del"></div>
	</div>
	<div class="fmui-flex-row fmui-aic fmui-list-rownum1 fmui-list-lf ">
		<img class="fmui-icon-small" src="http://i3.res.meizu.com/fileserver/app_icon/6898/f866344ead17456b9d4461c6b2528588.png" width="32" height="32" />
		<div class="fmui-flex-col">
			<div class="fmui-flex-row  bdr_bottom">
				<div class="fmui-tit ">列表标题</div>
			</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-aic fmui-list-lf ">
		<img class="fmui-icon-small" src="http://i3.res.meizu.com/fileserver/app_icon/6898/f866344ead17456b9d4461c6b2528588.png" width="32" height="32" />
		<div class="fmui-flex-col">
			<div class="fmui-flex-row fmui-list-tb bdr_bottom">
				<div class="fmui-flex-col ">
					<div class="fmui-tit ">列表标题</div>
					<div class="fmui-desc fmui-text-line2">辅助信息</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-aic fmui-list-lf ">
		<img class="fmui-icon-normal" src="http://i3.res.meizu.com/fileserver/app_icon/6898/f866344ead17456b9d4461c6b2528588.png" width="45" height="45" />
		<div class="fmui-flex-col">
			<div class="fmui-flex-row fmui-list-tb bdr_bottom">
				<div class="fmui-flex-col ">
					<div class="fmui-tit ">列表标题</div>
					<div class="fmui-desc fmui-text-line2">辅助信息</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="fmui-flex-row fmui-aic fmui-list-lf ">
		<img class="fmui-icon-large" src="http://i3.res.meizu.com/fileserver/app_icon/6898/f866344ead17456b9d4461c6b2528588.png" width="64" height="64" />
		<div class="fmui-flex-col ">
			<div class="fmui-flex-row fmui-list-tb bdr_bottom">
				<div class="fmui-flex-col ">
					<div class="fmui-tit ">列表标题</div>
					<div class="fmui-desc fmui-text-line2">辅助信息</div>
					<div class="fmui-info fmui-text-line2">段落描述</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<script src="/src/www/jquery.min.js"></script>
<script src="/src/www/home.js"></script>
</body>
</html>