<!DOCTYPE html>
<html class="example_html">

<head>
	<meta charset="utf-8">
	<title>背景图</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='/fmui/fmui.css' rel='stylesheet' />
	<link href='/src/www/home.less' rel='stylesheet' />

</head>

<body style="padding: 5px 10px; ">
<section>
	<div class="fmui-imagebg example-imagebg1" style="background-image:url(http://v.dfs.meizu.com/group1/M0A/7B/7F/CgOUc1ZAAWCAMCqkAAGnG7vVNAs048.jpg);"></div>

	<div class="fmui-imagebg example-imagebg2" style="background-image:url(http://v.dfs.meizu.com/group1/M0A/7B/7F/CgOUc1ZAAWCAMCqkAAGnG7vVNAs048.jpg);"></div>
	
	<div class="fmui-imagebg example-imagebg3" style="background-image:url(http://v.dfs.meizu.com/group1/M0A/7B/7F/CgOUc1ZAAWCAMCqkAAGnG7vVNAs048.jpg);"></div>
</section>
<script src="/src/www/jquery.min.js"></script>
<script src="/src/www/home.js"></script>
</body>

</html>