<!DOCTYPE html>
<html class="example_html">

<head>
	<meta charset="utf-8">
	<title>布局</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href='/fmui/fmui.css' rel='stylesheet' />
	<link href='/src/www/home.less' rel='stylesheet' />
</head>

<body style="padding: 5px 10px; ">
<section>
	<div class="fmui-flex-row bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="example-layout">一列</div>
		</div>
	</div>

	<div class="fmui-flex-row bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="example-layout">二列</div>
		</div>
		<div class="fmui-flex-col ">
			<div class="example-layout">二列</div>
		</div>
	</div>

	<div class="fmui-flex-row bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="example-layout">三列</div>
		</div>
		<div class="fmui-flex-col ">
			<div class="example-layout">三列</div>
		</div>
		<div class="fmui-flex-col ">
			<div class="example-layout">三列</div>
		</div>
	</div>
	
	<div class="fmui-flex-row bdr_bottom">
		<div class="fmui-flex-col ">
			<div class="example-layout">四列</div>
		</div>
		<div class="fmui-flex-col ">
			<div class="example-layout">四列</div>
		</div>
		<div class="fmui-flex-col ">
			<div class="example-layout">四列</div>
		</div>
		<div class="fmui-flex-col ">
			<div class="example-layout">四列</div>
		</div>
	</div>
</section>
<script src="/src/www/jquery.min.js"></script>
<script src="/src/www/home.js"></script>
</body>

</html>