<!DOCTYPE html>
<html class="example_html">

<head>
	<meta charset="utf-8">
	<title>加载中</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='/fmui/fmui.css' rel='stylesheet' />
	<link href='/src/www/home.less' rel='stylesheet' />

</head>

<body style="padding: 5px 10px; ">
<section>
	<div class="fmui-loading fmui-loading-blue">
		<span class="fmui-loading-circle ">
			<span class="fmui-loading-right"><span class="fmui-loading-anim"></span></span>
		</span>
		<div>正在加载</div>
	</div>
	<div class="fmui-loading fmui-loading-limegreen">
		<span class="fmui-loading-circle">
			<span class="fmui-loading-right"><span class="fmui-loading-anim"></span></span>
		</span>
		<div>正在加载</div>
	</div>
	<div class="fmui-loading fmui-loading-seagreen">
		<span class="fmui-loading-circle">
			<span class="fmui-loading-right"><span class="fmui-loading-anim"></span></span>
		</span>
		<div>正在加载</div>
	</div>
	<div class="fmui-loading fmui-loading-gray">
		<span class="fmui-loading-circle">
			<span class="fmui-loading-right"><span class="fmui-loading-anim"></span></span>
		</span>
		<div>正在加载</div>
	</div>
	<div class="fmui-loading fmui-loading-crimson">
		<span class="fmui-loading-circle">
			<span class="fmui-loading-right"><span class="fmui-loading-anim"></span></span>
		</span>
		<div>正在加载</div>
	</div>
	<div class="fmui-loading fmui-loading-firebrick">
		<span class="fmui-loading-circle">
			<span class="fmui-loading-right"><span class="fmui-loading-anim"></span></span>
		</span>
		<div>正在加载</div>
	</div>
	<div class="fmui-loading fmui-loading-tomato">
		<span class="fmui-loading-circle">
			<span class="fmui-loading-right"><span class="fmui-loading-anim"></span></span>
		</span>
		<div>正在加载</div>
	</div>
	<div class="fmui-loading fmui-loading-coral">
		<span class="fmui-loading-circle">
			<span class="fmui-loading-right"><span class="fmui-loading-anim"></span></span>
		</span>
		<div>正在加载</div>
	</div>
</section>
<script src="/src/www/jquery.min.js"></script>
<script src="/src/www/home.js"></script>
</body>

</html>